h1{
  color: #0000ff;
}
ul{
  list-style: none;
  padding: 0px;
}
li {
  list-style:  none;
  line-height: 30px;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p{
  color: #2400ff;
}